.buttonpad {
  height: 125px;
  width: 130px;
  padding-top: 55px;
  padding-left: 70px;
}
.buttonpad button{
  color: red;
  width: 65px;
  height: 25px;
  font-size: 15px;
}
.gameboy{
  background-color: cyan;
}

body {
  background-color: yellow;
}
.screen{
  text-align: center;
  width: 300px;
  height: 100px;
  align: center;
  background-color: white;
}
